
.main-wrapper {
    border: 1px solid blue;
    width: auto;
    display: flex;
    max-width: 50%;
    /*justify-content: space-evenly;*/
}

/*.task-section-wrapper {*/
/*    width: auto;*/
/*    border: 1px solid black;*/
/*}*/

.task-action-wrapper {
    display: flex;
    /*justify-content: space-evenly;*/
    background-color: var(--fields);
    box-shadow: var(--box-shadow);
    /*max-width: 33%;*/
    border: 1px solid red;
}


.username-post-task {
    width: 2em;
    height: 2em;
    background-color: white;
    opacity: 0.7;
    border-radius: 3px;
    margin: 0.25em 0.5em;
    border: 1px solid deeppink;

    display: flex;
    align-items: center;
}

.username-paragraph {
    font-size: 0.6em;

}

.text-area-wrapper {
    border: 1px solid lightgoldenrodyellow;
}

.text-area {
    border: 1px solid black;
}

/*.text-area {*/
/*    display: flex;*/
/*    max-height: 2em;*/
/*    border: 1px solid black;*/
/*}*/

.tasks-display {
    display: flex;
    flex-direction: column;
    background-color: var(--fields);
    box-shadow: var(--box-shadow);
    opacity: 0.7;
    padding: 5px;
    margin: 10px;
    /*max-width: 33%;*/
    border: 1px solid darkolivegreen;

    height: 12.5em;
    overflow: auto;
}


.load-button-wrapper {
    border: 1px solid cornflowerblue;
    display: flex;
    justify-content: center;
}


.single-task-wrapper {
    display: flex;
    border: 1px solid blueviolet;
}


.task-user-info {
    border: 1px solid white;
}


.task-content {
    border: 1px solid green;
    align-self: flex-start;
    flex: 2 1 auto;
    font-style: italic;
    font-size: small;
}


/*.delete-task-wrapper {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/


.delete-task-wrapper {
    display: flex;
    justify-content: flex-end;
    width: .8em;
    height: .8em;
    font-style: normal;
    cursor: pointer;
    padding: 0.4em;
    border: 1px solid black;
}


.delete-task  {
    font-style: normal;
    display: flex;
    justify-content: flex-end;
}

.task-timestamp {
    font-size: x-small;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    flex: 0 1 auto;
    border: 1px solid orange;
}

