
.main-form {
    border: 1px solid darkmagenta;
}

.text-area {
    font-size: 16px;
    font-family: inherit;
    color: var(--pink);
    padding: 0.25em 0.5em;
    opacity: 0.8;
    box-shadow: 0 3px 3px rgba(20, 20, 20, 0.18);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
    max-width: 8em;
    max-height: 5em;
}

.text-area::placeholder {
    color: var(--less-pink);
    font-style: italic;
    opacity: 0.6;
}

@keyframes user-cue {
    0% {color: var(--font-gray); border: 1px solid transparent;}
    25% {color: var(--pink); text-decoration: underline 1px solid var(--pink)}
    50% {color: var(--font-gray); border: 1px solid transparent}
    100% {color: var(--pink); border: 1px solid var(--pink)}
}

.user-message {
    animation-name: user-cue;
    animation-duration: 2s;
}