@import '../../assets/fonts/fonts.css';

.top-menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gold;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/*.active-link {*/
/*    text-decoration: underline blanchedalmond;*/
/*}*/

.top-menu .active-link {
    font-weight: bold;
}


.top-menu a {
    text-decoration: none;
    color: #999;
}

a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: blanchedalmond;
    transition: width .5s ease-in-out;
}

a:hover::after {
    width: 100%;
}

